[submodule "HD-Clustering"]
	path = HD-Clustering
	url = https://github.com:xavierrouth/HD-Clustering.git
[submodule "HD-Classification"]
	path = HD-Classification
	url = https://github.com:xavierrouth/HD-Classification.git
